/* ---------------------------- */
/* general styling */
/* ---------------------------- */

html {
  font-family: "Space Mono", monospace;
  font-size: 18px;
  color: white;
  box-sizing: border-box;
  background-color: #151531;
}

/* ensure all elements will have the alternative box sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0px;
  margin: 10%;
}

h1,
h2 {
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  text-shadow: 3px 3px 1px #c051ff;
  text-align: center;
}

p {
  line-height: 1.5;
}

strong {
  color: #39beff;
}

a {
  color: #39beff;
  padding: 3px;
}

a:active {
  color: white;
}

footer > p {
  text-align: center;
}

/* ---------------------------- */
/* navbar styling               */
/* ---------------------------- */

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  z-index: 1;
  background-color: #151531;
  border-bottom: solid #39beff;
}

nav > a {
  margin-left: 25px;
}

.logo {
  align-self: center;
  width: 72px;
  height: 72px;
}

.nav-item {
  padding: 7px;
  display: inline-block;
  list-style: none;
  font-family: "Orbitron", sans-serif;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  text-shadow: 2px 2px 3px #c051ff;
  transition: all 300ms ease-in-out;
}

.nav-item a {
  color: inherit;
  text-decoration: none;
}

/* try to figure out how to get a transformation that starts drawing the border
clockwise from the top around the nav item. Keep the border rectangular if you
do this */
.nav-item:hover {
  border: 3px solid #c051ff;
  border-radius: 1.5em;
  color: #39beff;
}

#resume {
  border: 3px solid #c051ff;
  border-radius: 1.5em;
  margin-right: 25px;
}

#resume:hover {
  background-color: #c051ff;
  text-shadow: none;
  color: white;
}

#resume::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: -3px;

  background-size: 100%;
  background-image: url("../assets/icons/arrow-square-out-fill-svgrepo-com.svg");
}

/* ---------------------------- */
/* about section styling        */
/* ---------------------------- */
.headshot {
  float: right;
  margin: 25px;
}

/* just doing this for now */
#about {
  margin-top: 15%;
}

/* ---------------------------- */
/* projects section styling     */
/* ---------------------------- */

/* ---------------------------- */
/* contact section styling      */
/* ---------------------------- */

/* Social Media Icons */
.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-media a {
  display: inline-block;
}

.social-media ion-icon {
  justify-self: center;
  font-size: 32px;
  color: white;
  transition: transform 200ms ease-in-out;
}

.social-media ion-icon:hover {
  transform: scale(1.2);
}
